In [103]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [38]:
df = pd.read_csv("../data/covid_data.csv", index_col="Country")
df.head()

,State,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,...,10/22/20,10/23/20,10/24/20,10/25/20,10/26/20,10/27/20,10/28/20,10/29/20,10/30/20,10/31/20
Country,,,,,,,,,,,,,,,,,,,,,
Afghanistan,NaN,0 0,0 0,0 0,0 0,0 0,0 0,0 0,0 0,0 0,...,40626 1505,40687 1507,40768 1511,40833 1514,40937 1518,41032 1523,41145 1529,41268 1532,41334 1533,41425 1536
Albania,NaN,0 0,0 0,0 0,0 0,0 0,0 0,0 0,0 0,0 0,...,18250 465,18556 469,18858 473,19157 477,19445 480,19729 487,20040 493,20315 499,20634 502,20875 509
Algeria,NaN,0 0,0 0,0 0,0 0,0 0,0 0,0 0,0 0,0 0,...,55357 1888,55630 1897,55880 1907,56143 1914,56419 1922,56706 1931,57026 1941,57332 1949,57651 1956,57942 1964
Andorra,NaN,0 0,0 0,0 0,0 0,0 0,0 0,0 0,0 0,0 0,...,3811 63,4038 69,4038 69,4038 69,4325 72,4410 72,4517 72,4567 73,4665 75,4756 75
Angola,NaN,0 0,0 0,0 0,0 0,0 0,0 0,0 0,0 0,0 0,...,8582 260,8829 265,9026 267,9381 268,9644 270,9871 271,10074 275,10269 275,10558 279,10805 284

In [28]:
df.loc[[0, 1, 2, 5],["Country", "1/22/20"]]

               Country 1/22/20
0          Afghanistan    0  0
1              Albania    0  0
2              Algeria    0  0
5  Antigua and Barbuda    0  0

In [43]:
df_prueba = df.iloc[:,[col for col in range(11)]]

,State,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,1/31/20
Country,,,,,,,,,,,
Afghanistan,NaN,0 0,0 0,0 0,0 0,0 0,0 0,0 0,0 0,0 0,0 0
Albania,NaN,0 0,0 0,0 0,0 0,0 0,0 0,0 0,0 0,0 0,0 0
Algeria,NaN,0 0,0 0,0 0,0 0,0 0,0 0,0 0,0 0,0 0,0 0
Andorra,NaN,0 0,0 0,0 0,0 0,0 0,0 0,0 0,0 0,0 0,0 0
Angola,NaN,0 0,0 0,0 0,0 0,0 0,0 0,0 0,0 0,0 0,0 0
...,...,...,...,...,...,...,...,...,...,...,...
West Bank and Gaza,NaN,0 0,0 0,0 0,0 0,0 0,0 0,0 0,0 0,0 0,0 0
Western Sahara,NaN,0 0,0 0,0 0,0 0,0 0,0 0,0 0,0 0,0 0,0 0
Yemen,NaN,0 0,0 0,0 0,0 0,0 0,0 0,0 0,0 0,0 0,0 0
Zambia,NaN,0 0,0 0,0 0,0 0,0 0,0 0,0 0,0 0,0 0,0 0
Zimbabwe,NaN,0 0,0 0,0 0,0 0,0 0,0 0,0 0,0 0,0 0,0 0

In [109]:
df_prueba["State"].fillna("ALL", inplace=True)
df_prueba

,State,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,1/31/20
Country,,,,,,,,,,,
Afghanistan,ALL,0 0,0 0,0 0,0 0,0 0,0 0,0 0,0 0,0 0,0 0
Albania,ALL,0 0,0 0,0 0,0 0,0 0,0 0,0 0,0 0,0 0,0 0
Algeria,ALL,0 0,0 0,0 0,0 0,0 0,0 0,0 0,0 0,0 0,0 0
Andorra,ALL,0 0,0 0,0 0,0 0,0 0,0 0,0 0,0 0,0 0,0 0
Angola,ALL,0 0,0 0,0 0,0 0,0 0,0 0,0 0,0 0,0 0,0 0
...,...,...,...,...,...,...,...,...,...,...,...
West Bank and Gaza,ALL,0 0,0 0,0 0,0 0,0 0,0 0,0 0,0 0,0 0,0 0
Western Sahara,ALL,0 0,0 0,0 0,0 0,0 0,0 0,0 0,0 0,0 0,0 0
Yemen,ALL,0 0,0 0,0 0,0 0,0 0,0 0,0 0,0 0,0 0,0 0
Zambia,ALL,0 0,0 0,0 0,0 0,0 0,0 0,0 0,0 0,0 0,0 0
Zimbabwe,ALL,0 0,0 0,0 0,0 0,0 0,0 0,0 0,0 0,0 0,0 0

In [44]:
df_prueba.describe()

,State,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,1/31/20
count,136,325,325,325,325,325,325,325,325,325,325
unique,136,12,17,22,29,30,35,37,38,41,43
top,Qinghai,0 0,0 0,0 0,0 0,0 0,0 0,0 0,0 0,0 0,0 0
freq,1,294,286,283,280,273,270,269,265,262,259

In [53]:
grouped = df_prueba.groupby("Country").agg({
    "1/22/20": "sum"
})
# grouped["1/22/20"].plot(kind="bar")
# plt.show()
grouped

                   1/22/20
Country
Afghanistan           0  0
Albania               0  0
Algeria               0  0
Andorra               0  0
Angola                0  0
...                    ...
West Bank and Gaza    0  0
Western Sahara        0  0
Yemen                 0  0
Zambia                0  0
Zimbabwe              0  0

[189 rows x 1 columns]

In [73]:
from datetime import datetime

In [95]:
class Register:
    def __init__(self, fecha:datetime, contagios, muertes):
        self._fecha = fecha
        self._contagios = contagios
        self._muertes = muertes
    
    def getFecha(self):
        return self._fecha
    
    def getContagios(self):
        return self._contagios
    
    def getMuertes(self):
        return self._muertes
    
    def __str__(self):
        return f"{self._fecha.strftime('%m/%d/%Y')} - Contagios: {self._contagios} | Muertes: {self._muertes}"
    
    def __repr__(self):
        return self.__str__()

In [123]:
class State:
    def __init__(self, name:str, registers=[]):
        self._name = name
        self._registers = registers
    
    def getName(self):
        return self._name
    
    def getRegisters(self):
        return self._registers
    
    def addRegister(self, register:Register):
        self._registers.append(register)
    
    def __str__(self):
        return f"{self._name} - Registros: {len(self._registers)}"
    
    def __repr__(self):
        return self.__str__()

In [126]:
class Country:
    def __init__(self, name:str, states={}):
        self._name = name
        self._states = states

    def getName(self):
        return self._name
    
    def getStates(self):
        return self._states
    
    def addState(self, state:State):
        self._states.append(state)
    
    def __str__(self):
        return f"{self._name} - Estados: {len(self._states)}"
    
    def __repr__(self):
        return self.__str__()

In [68]:
afn = Country("Afghanistan")
afn

Afghanistan - Estados: 0

In [71]:
afn_st1 = State("Liria")
afn_st1

Liria - Registros: 0

In [76]:
liria_r1 = Register(datetime(2020,1,22), 10, 2)
liria_r1

01/22/2020 - Contagios: 10 | Muertes: 2

In [77]:
afn_st1.addRegister(liria_r1)
afn.addState(afn_st1)
afn

Afghanistan - Estados: 1

In [127]:
columnas = df_prueba.columns
columnas
stateCol = columnas[0]
columnas.drop("State")

Index(['1/22/20', '1/23/20', '1/24/20', '1/25/20', '1/26/20', '1/27/20',
       '1/28/20', '1/29/20', '1/30/20', '1/31/20'],
      dtype='object')

In [128]:
stateCol

'State'

In [129]:
columnas = df_prueba.columns
rows = df_prueba.index
rows

Index(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia', 'Australia',
       ...
       'United States', 'Uruguay', 'Uzbekistan', 'Venezuela', 'Vietnam',
       'West Bank and Gaza', 'Western Sahara', 'Yemen', 'Zambia', 'Zimbabwe'],
      dtype='object', name='Country', length=325)

In [130]:
countries = {}

In [107]:
import math

In [133]:
for row in rows[:5]:
    if row not in countries:
        countries[row] = Country(row)
    if df_prueba[stateCol][row] not in countries[row].getStates():
        countries[row].getStates()[df_prueba[stateCol][row]] = State(df_prueba[stateCol][row])
    for column in columnas:
        if df_prueba[column][row] == "ALL":
            print("Es NaN")
        else:
            print("pasa")
        # print(df_prueba[column][row])

Es NaN
pasa
pasa
pasa
pasa
pasa
pasa
pasa
pasa
pasa
pasa
Es NaN
pasa
pasa
pasa
pasa
pasa
pasa
pasa
pasa
pasa
pasa
Es NaN
pasa
pasa
pasa
pasa
pasa
pasa
pasa
pasa
pasa
pasa
Es NaN
pasa
pasa
pasa
pasa
pasa
pasa
pasa
pasa
pasa
pasa
Es NaN
pasa
pasa
pasa
pasa
pasa
pasa
pasa
pasa
pasa
pasa

In [134]:
countries

{'Afghanistan': Afghanistan - Estados: 1,
 'Albania': Albania - Estados: 1,
 'Algeria': Algeria - Estados: 1,
 'Andorra': Andorra - Estados: 1,
 'Angola': Angola - Estados: 1}

In [137]:
countries["Algeria"].getStates()

{'ALL': ALL - Registros: 0}

In [97]:
countries.clear()

In [138]:
import re

In [139]:
pattern = re.compile(r"(\d+)(\s+)(\d+)")

In [141]:
muestra = "184  965"

In [145]:
match = pattern.match(muestra)
match.groups()

('184', '  ', '965')